@model HotelM1.Models.RoomModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>




@using (Html.BeginForm())
{
    <p>Update details</p>

    @Html.TextBoxFor(model => model.R_id)

    @Html.DropDownListFor(model => model.RoomType, new List<SelectListItem>
                   { new SelectListItem{Text="Standard", Value="Standard"},
                     new SelectListItem{Text="Premium", Value="Premium"},
                     new SelectListItem{Text="Delux", Value="Delux"}}, "Please select")

    @Html.LabelFor(m => Model.Quantity)  @Html.EditorFor(m => Model.Quantity)


    <input type="submit" value="Save changes" />

}
@Html.ActionLink("See roomdetails", "Viewdetails")